version: "3.7"
services:
    app:
        build:
            args:
                user: laravel
                uid: 1000
            context: ./
            dockerfile: Dockerfile
        image: shadecn-laravel
        container_name: shadecn-app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - ./:/var/www
        networks:
            - shadecn
        depends_on:
            - db

    db:
        image: mysql:8.0
        container_name: shadecn-db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - ./docker-compose/mysql:/var/lib/mysql
        networks:
            - shadecn
        ports:
            - 3306:3306

    nginx:
        image: nginx:alpine
        container_name: shadecn-nginx
        restart: unless-stopped
        ports:
            - 8000:80
        volumes:
            - ./:/var/www
            - ./docker-compose/nginx:/etc/nginx/conf.d/
        networks:
            - shadecn
        depends_on:
            - app

networks:
    shadecn:
        driver: bridge
